flask
ctransformers==0.2.5
langchain_community
langchain
transformers
python-dotenv
torch
sentence_transformers==2.2.2
chromadb
sentencepiece
accelerate
bitsandbytes

(if not enough RAM e.g. killed, then use pip install torch --no-cache-dir)